*{
    margin: 0;
    padding: 0;

}
.teste
{
    display: flex;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
label{
    display: block;
    width: 110px;
    justify-content: space-between;
}

fieldset{

    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border-radius: 15px;

}

input{
    padding-left: 5px;
    height: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
}


.formulaire{
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.boite{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: 100px;
    width: 600px;
    height: 425px;
    flex-direction: column;
    border-radius: 35px;
    background-color: rgb(216, 225, 231);
    box-shadow: 20px 20px 20px rgb(137, 171, 189);
}

label, legend, p.langue{
    margin-left: 15px;

}

.envoye{
    display: flex;
    justify-content: center;
}

.submit{
    width: 75px;
    height: 30px;
    background-color: rgb(0, 174, 255);
    color: white;
    border: none;
    border-radius: 10px;
}

.submit:hover{
    width: 75px;
    height: 30px;
    background-color:rgb(21, 218, 80)
}
